#wrapper{

}
body{
    background-image: url('../img/eLab.png');
    
}

#main{
    margin:auto;
    width:70%;
    background-color:beige;
    z-index: 2;
    position:absolute;
    left:15%;
    top:10%;
}
.marginTop{
    margin-top: 5%;
}

#add,#all{
    margin-top: 25px;
}


#usr,#pwd{
    width:40%;
    margin-left: 27%;
}
.marginBottom{
    margin-bottom: 80px;
}

.pullLeft{
    float:left;
}

.pullRight{
    float:right;
}
.clearPadMar{
    padding:0;
    margin:0;
}

