#wrapper{

}
body{
    background-image: url('../img/eLab.png');
    
}

#login{
    margin:auto;
    width:70%;
    background-color:beige;
    z-index: 2;
    position:absolute;
    left:15%;
    top:20%;
}
.marginTop{
    margin-top: 5%;
}

#add{
    margin-top: 25px;
}


#usr,#pwd{
    width:40%;
    margin-left: 27%;
}
.marginBottom{
    margin-bottom: 80px;
}

