<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="../public/css/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/font-awesome/css/font-awesome.min.css">


</head>
<body>
<div id="main">
    <div class="row marginTop">
        <div class="col-md-1 col-md-offset-1">
            <img src="../public/img/logo.png" alt="logo">
        </div>

        <div class="col-md-3">
            <h1>eLab Library</h1>
        </div>

        <div class="col-md-1 col-md-offset-4" id="add">
            <a href="./" class="btn btn-success">New Book &nbsp &nbsp <i class="fa fa-plus-circle"></i></a>
        </div>
    </div>
    <div class="row marginTop marginBottom">
        <div class="col-md-1 col-md-offset-1" id="back">
            <button  class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i> &nbsp Back &nbsp &nbsp </button>
        </div>
        <div class="col-md-3 col-md-offset-7" id="next" >
            <button style="width:60%" class="btn btn-success">Next &nbsp; <i class="fa fa-arrow-circle-o-right"></i></button>
        </div>


    </div>


</div>
</body>
<script src="../public/js/jquery/dist/jquery.min.js"></script>
<script src="../public/css/bootstrap/dist/js/bootstrap.min.js"></script>
</html>